.main-intro {
    min-height: 100vh;
    padding-top: 7vh;
}

/* .main-gear-container {
    margin-top: 7vh;
} */

@media (max-width: 768px) {
    .main-gear-container {
        margin-left: 5vw;
        height: 80vw;
    }
}

@media (min-width: 768px) {
    .main-gear-container {
        margin-left: 15vw;
        height: 60vw;
    }
}

@media (min-width: 1000px) {
    .main-gear-container {
        margin-left: calc(45vw - 300px);
        height: 600px;
    }
}