.main-gear-svg {
    /* display: inline; */
    display: block;
    margin: auto;
    position: fixed;
}

@media (max-width: 768px) {
    .main-gear-svg {
        width: 80vw;
        height: 80vw;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .main-gear-svg {
        width: 60vw;
        height: 60vw;
    }
}

@media (min-width: 1000px) {
    .main-gear-svg {
        width: 600px;
        height: 600px;
    }
}

.st1 {
    fill: none;
    stroke: var(--theme-color);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st2 {
    fill: var(--theme-color);
    stroke: var(--theme-color);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st3 {
    stroke-width: 2 !important;
}

.gear-image {
    clip-path: url(#clip-circle-path);
}

.gear-image-image {
    transition: opacity 1s;
}

.gear-image-hidden {
    opacity: 0;
}

.gear-image-show {
    opacity: 1;
}

.spin {
    -webkit-animation: spin 15s linear infinite;
    -moz-animation: spin 15s linear infinite;
    animation: spin 15s linear infinite;
    stroke: var(--theme-color);
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}