.st1 {
    fill: none;
    stroke: #005696;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    transform-origin: center center;
}

.st2 {
    fill: #005696;
    stroke: #005696;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    transform-origin: center center;
}

.st3 {
    stroke-width: 2 !important;
}

.gear-image {
    clip-path: url(#clip-circle-path);
}

.gear-image-image {
    transition: opacity 0.5s;
}

.gear-image-hidden {
    opacity: 0;
}

.gear-image-show {
    opacity: 1;
}

.spin {
    -webkit-animation: spin 15s linear infinite;
    -moz-animation: spin 15s linear infinite;
    animation: spin 15s linear infinite;
    stroke: #005696;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}