:root {
    --theme-color: #005696;
    --bg-color: #eeeeee;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Quicksand", sans-serif !important;
    background-color: var(--bg-color) !important;
    overflow-x: hidden;
}

.page-content {
    margin: auto;
    width: 90vw;
}

a, a:hover, a:active, a:focus, a:visited {
    color: var(--theme-color) !important;
    text-decoration: none !important;
}

.spacer {
    margin-bottom: 70px;
}

.em-color {
    color: var(--theme-color) !important;
}