body {
    margin: 0px;
    padding: 0px;
    font-family: "Quicksand", sans-serif !important;
    background-color: #eeeeee !important;
    overflow-x: hidden;
}

.page-content {
    margin: auto;
    width: 90vw;
}

a, a:hover, a:active, a:focus, a:visited {
    color: #005696 !important;
    text-decoration: none !important;
}

.spacer {
    margin-bottom: 70px;
}