:root {
    --theme-color: #005696;
    --bg-color: #eeeeee;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Quicksand", sans-serif !important;
    background-color: var(--bg-color) !important;
    overflow-x: hidden;
}

.page-content {
    margin: auto;
    width: 90vw;
}

a, a:hover, a:active, a:focus, a:visited {
    color: var(--theme-color) !important;
    text-decoration: none !important;
}

/* .btn a {
    color: white !important;
} */

.spacer {
    margin-bottom: 70px;
}

.em-color {
    color: var(--theme-color) !important;
}

.centered {
    text-align: center;
}

.margin-bottom-15px {
    margin-bottom: 15px;
}

button {
    background-color: var(--theme-color) !important;
}

button.btn-tertiary {
    background-color: white !important;
    border-color: var(--theme-color);
    margin-right: 10px;
    margin-top: 10px;
}