:root {
    --resume-width: 692px;
    --resume-height: 792px;
    --resume-inWidth: 668px;
    --resume-inHeight: 768px;
    --resume-page-padding: 12px;
}

.resume-dev-canvas {
    display: none;
}

.resume-page {
    height: var(--resume-height);
    width: var(--resume-width);
    padding: var(--resume-page-padding);
    background-color: var(--white);
    box-shadow: 5px 5px 5px #888;
    margin: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}