.single-position div.collapse:not(.show) {
    /* display: block; */
    /* height = lineheight * no of lines to display */
    height: 1.5em;
    min-height: 1.5em;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.single-position div.collapsing {
    height: 1.5em;
    min-height: 1.5em;
}