.resume-header-container {
    margin-top: var(--resume-header-container-margin-top) !important;
}

.resume-contact-icon-container {
    height: var(--resume-header-contact-icon-container);
}

.resume-contact-children {
    color: var(--theme-color);
    margin-left: var(--resume-header-children-margin-left);
    font-size: var(--resume-header-children-font-size);
    margin-top: var(--resume-header-contact-children-text-margin-top);
}

.resume-contact-icon {
    width: var(--resume-header-icon-size);
    height: var(--resume-header-icon-size);
}

.resume-header-main {
    width: calc(var(--resume-inWidth)/2);
    font-weight: var(--resume-header-font-weight);
    font-size: var(--resume-header-font-size);
    color: var(--theme-color);
}

.resume-header-side {
    width: calc(var(--resume-inWidth)/4);
}