html, body {
    background-color: #eeeeee;
    font-family: Quicksand;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Quicksand;
    src: url(./_assets/fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(./_assets/fonts/Quicksand-Bold.ttf);
    font-weight: bolder;
}

@font-face {
    font-family: Quicksand;
    src: url(./_assets/fonts/Quicksand-Medium.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Quicksand;
    src: url(./_assets/fonts/Quicksand-Light.ttf);
    font-weight: lighter;
}